* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    background: #f5f5f5;
    padding: 40px;
}

/* Card container */
.changelog {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 60px 40px;
    border-radius: 20px;
    border: 2px solid #444;
}

/* Header */
.changelog-header {
    text-align: center;
    margin-bottom: 60px;
}

.changelog-header h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.changelog-header p {
    color: #777;
}

/* Timeline */
.timeline {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 0 60px 0;
}

/* Vertical line */
.timeline::before {
    content: "";
    position: absolute;
    left: 180px;
    top: -20px;
    bottom: -20px;
    width: 2px;
    background: #444444;
}

/* Each item */
.timeline-item {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 40px;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

/* Date */
.timeline-item time {
    color: #999;
    font-size: 0.9rem;
    text-align: right;
}

/* Dot */
.timeline-item::before {
    content: "";
    position: absolute;
    left: 173px;
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
}

/* Content */
.timeline-item .content>h3 {
    font-size: 1rem;
    font-weight: 500;
}

/* Button */
.footer {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 14px 28px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.2s ease;
}

.btn:hover {
    background: #333;
}

@media (max-width: 600px) {
    .timeline::before {
        left: 8px;
    }

    .timeline-item {
        grid-template-columns: 1fr;
        padding-left: 30px;
        gap: 2px;
    }

    .timeline-item time {
        text-align: left;
    }

    .timeline-item::before {
        left: 1px;
    }
}